.doctor-detail-container {
    position: relative;
    top: 65px;
    height: 100%;

    .intro-doctor {
        display: flex;
        margin: 0 100px;

        .content-left {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                padding-top: 15px;
                font-weight: 600;
                font-size: 20px
            }

            .down {
                padding-top: 10px
            }
        }

    }

    .schedule-doctor {
        margin: 0 100px;
        display: flex;
        max-height: 100%;
        min-height: 200px;
        padding-bottom: 20px;

        .schedule-content-left {
            width: 50%;
        }
    }

    .detail-doctor {
        padding: 20px 110px 3% 110px;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;

        h1 {
            font-size: 25px !important;
            font-weight: bold !important;
            font: 14px/1.5 'Montserrat', sans-serif;
        }

        h2 {
            font-size: 18px !important;
            font-weight: bold !important;
            font: 14px/1.5 'Montserrat', sans-serif;
        }

        img {
            width: 80%;
            height: 80%;
        }
    }

    .comment-doctor {
        height: 100px;
        border-top: 1px solid #ddd;
    }
}

@media(max-width: 650px) {
    .doctor-detail-container {

        .intro-doctor {
            margin: 0;
        }

        .schedule-doctor {
            margin: 0 20px
        }

        .detail-doctor {
            padding: 30px;
        }
    }
}